@model Knigoskop.Site.Models.Mail.ComplainEmailModel
@{
    ViewBag.Title = "Complain";
    Layout = "~/Views/Shared/_MailLayout.cshtml";
}

<h2>Complain</h2>

<p>pipoiem pejwok edjkl elkefj lkefj elfkj eflkejf lkefj lekfj lekfjeflk jfelkefj eflkj eflkjef lkefj eflkj eflkfej lefkj eflkefj lfekj felkj eflkfej lkjfelk jfelkfej lkefj</p>

<p>pipoiem pejwok edjkl elkefj lkefj elfkj eflkejf lkefj lekfj lekfjeflk jfelkefj eflkj eflkjef lkefj eflkj eflkfej lefkj eflkefj lfekj felkj eflkfej lkjfelk jfelkfej lkefj</p>

<p>pipoiem pejwok edjkl elkefj lkefj elfkj eflkejf lkefj lekfj lekfjeflk jfelkefj eflkj eflkjef lkefj eflkj eflkfej lefkj eflkefj lfekj felkj eflkfej lkjfelk jfelkfej lkefj</p>
<p>pipoiem pejwok edjkl elkefj lkefj elfkj eflkejf lkefj lekfj lekfjeflk jfelkefj eflkj eflkjef lkefj eflkj eflkfej lefkj eflkefj lfekj felkj eflkfej lkjfelk jfelkfej lkefj</p>
<p>pipoiem pejwok edjkl elkefj lkefj elfkj eflkejf lkefj lekfj lekfjeflk jfelkefj eflkj eflkjef lkefj eflkj eflkfej lefkj eflkefj lfekj felkj eflkfej lkjfelk jfelkfej lkefj</p>

