<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <robotsConfiguration crawlerAccess="Public" robotsConfigFile="~/robots.config" xdt:Transform="Replace" />
  <connectionStrings xdt:Transform="Replace">
    <add name="Entities" connectionString="metadata=res://*/MainModel.csdl|res://*/MainModel.ssdl|res://*/MainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev.onlini.co;initial catalog=knigoskop;user id=what2read.me;password=test@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ImageDB" connectionString="data source=dev.onlini.co;initial catalog=knigoskop;user id=what2read.me;password=test@123" />
  </connectionStrings>
  <oauth2>
    <services xdt:Transform="Replace">
      <add clientType="FacebookClient" clientId="150302985133289" clientSecret="9455fca45599cd50290390c0989e0305" scope="email,publish_actions,publish_stream,read_stream" redirectUri="~/account/auth" />
      <add clientType="VkClient" clientId="3485056" clientSecret="iL2M4pC05ZreLvSM6iXZ" scope="offline" redirectUri="~/account/auth" />
      <add clientType="TwitterClient" clientId="0WMVSXJLI72pN40ptxPgmg" clientSecret="pwNzahxyXsDvWr3a0myXcXng3wOdHH5UlC6YGsLc" redirectUri="~/account/auth" />
      <add clientType="GoogleClient" clientId="339487533149.apps.googleusercontent.com" clientSecret="Rv2XV6dDUxdMilPksLCekPEy" scope="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email" redirectUri="~/account/auth" />      
      <add clientType="OdnoklassnikiClient" clientId="192085248" clientSecret="F499AC8D6DFB4E5B0B631B8C" clientPublic="CBAOPDHMABABABABA" redirectUri="~/account/auth" />
    </services>
  </oauth2>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>    
  -->
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Redirects to www.knigoskop.com" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^knigoskop.com$" />
          </conditions>
          <action type="Redirect" url="http://www.knigoskop.com/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>