<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="robotsConfiguration" type="Knigoskop.Site.Code.Configuration.RobotsSettings, Knigoskop.Site, Version=1.0.0.0, Culture=neutral" />
    <section name="mailConfiguration" type="Knigoskop.Site.Code.Configuration.MailSettings, Knigoskop.Site, Version=1.0.0.0, Culture=neutral" />
    <section name="calibreConfiguration" type="Knigoskop.Site.Code.Configuration.CalibreSettings, Knigoskop.Site, Version=1.0.0.0, Culture=neutral" />
    <section name="oauth2" type="OAuth2.Configuration.OAuth2ConfigurationSection, OAuth2, Version=0.1.*, Culture=neutral" />
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <mailConfiguration adminEmail="knigoskop@onlini.co" />
  <robotsConfiguration crawlerAccess="Private" />
  <calibreConfiguration path="C:\Program Files (x86)\Calibre2" />
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/MainModel.csdl|res://*/MainModel.ssdl|res://*/MainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev.onlini.co;initial catalog=dev.knigoskop;user id=what2read.me;password=test@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ImageDB" connectionString="data source=dev.onlini.co;initial catalog=dev.knigoskop;user id=what2read.me;password=test@123" />
  </connectionStrings>
  <oauth2>
    <services>
      <add clientType="FacebookClient" clientId="421353307981754" clientSecret="c7ab4b6ef026fecd2979fd5bbbbb3cc7" scope="email,publish_actions,publish_stream,read_stream" redirectUri="~/account/auth" />
      <add clientType="VkClient" clientId="3485056" clientSecret="iL2M4pC05ZreLvSM6iXZ" scope="offline" redirectUri="~/account/auth" />
      <add clientType="TwitterClient" clientId="0WMVSXJLI72pN40ptxPgmg" clientSecret="pwNzahxyXsDvWr3a0myXcXng3wOdHH5UlC6YGsLc" redirectUri="~/account/auth" />
      <add clientType="GoogleClient" clientId="339487533149.apps.googleusercontent.com" clientSecret="Rv2XV6dDUxdMilPksLCekPEy" scope="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email" redirectUri="~/account/auth" />
      <add clientType="OdnoklassnikiClient" clientId="192087040" clientSecret="257B89E16664D22C5412FE6C" clientPublic="CBAFAEHMABABABABA" redirectUri="~/account/auth" />
    </services>
  </oauth2>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms protection="All" cookieless="UseCookies" requireSSL="false" timeout="6000" name="TheFormsAuthCookie" path="/" slidingExpiration="true" />
    </authentication>
    <!-- Allow zombie DOS names to be captured by ASP.NET (/con, /com1, /lpt1, /aux, /prt, /nul, etc) -->
    <httpRuntime targetFramework="4.5" relaxedUrlToFileSystemMapping="true" />
    <compilation debug="true" targetFramework="4.5.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules>
    <customErrors mode="RemoteOnly" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="RobotsUrlRoutingHandler" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="RobotsUrlRoutingHandler" type="System.Web.Routing.UrlRoutingHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" path="robots.txt" verb="GET" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom">
      <!-- Catch IIS 404 error due to paths that exist but shouldn't be served (e.g. /controllers, /global.asax) or IIS request filtering (e.g. bin, web.config, app_code, app_globalresources, app_localresources, app_webreferences, app_data, app_browsers) -->
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" path="/notfound" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <resizer>
    <pipeline fakeExtensions=".ashx" />
    <plugins>
      <add name="MvcRoutingShim" />
      <add name="DiskCache" />
      <add name="SqlReader" prefix="~/images/cover/" connectionString="imageDB" idType="UniqueIdentifier" blobQuery="SELECT Cover FROM Books WHERE BookId=@id" modifiedQuery="SELECT CoverUpdated as ModifiedDate, CoverUpdated as CreatedDate FROM Books WHERE BookId=@id" existsQuery="SELECT COUNT(BookId) FROM Books WHERE BookId=@id" requireImageExtension="false" cacheUnmodifiedFiles="true" extensionPartOfId="false" checkForModifiedFiles="true" vpp="true" untrustedData="false" />
      <add name="SqlReader" prefix="~/images/author/" connectionString="imageDB" idType="UniqueIdentifier" blobQuery="SELECT Photo FROM Authors WHERE AuthorId=@id" modifiedQuery="SELECT PhotoUpdated as ModifiedDate, PhotoUpdated as CreatedDate FROM Authors WHERE AuthorId=@id" existsQuery="SELECT COUNT(AuthorId) FROM Authors WHERE AuthorId=@id" requireImageExtension="false" cacheUnmodifiedFiles="true" extensionPartOfId="false" checkForModifiedFiles="true" vpp="true" untrustedData="false" />
      <add name="SqlReader" prefix="~/images/avatar/" connectionString="imageDB" idType="UniqueIdentifier" blobQuery="SELECT Avatar FROM Users WHERE UserId=@id" modifiedQuery="SELECT AvatarUpdated as ModifiedDate, AvatarUpdated as CreatedDate FROM Users WHERE UserId=@id" existsQuery="SELECT COUNT(UserId) FROM Users WHERE UserId=@id" requireImageExtension="false" cacheUnmodifiedFiles="true" extensionPartOfId="false" checkForModifiedFiles="true" vpp="true" untrustedData="false" />
    </plugins>
  </resizer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      
      <!--<smtp from="some-email@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="some-email@gmail.com" password="valid-password"/>
      </smtp>-->
      
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="КНИГОСКОП &lt;no-reply@knigoskop.com&gt;">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\mailroot\Pickup" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>